body{
    background-color: aqua;

}
h1{
   font-family: "Rye", serif;
   font-weight: 400;
   font-style: normal;
   color: brown;

}
h2{
   color: black;

}
h3{ shape-outside: -moz-repeating-linear-gradient(45);
    color: aquamarine;
}
hatchpath{
    inset-block-end: 56;
}